In [1]:
import numpy as np
import pandas as pd
from matplotlib import pylab,mpl
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.patches as mpatches
import math
# %matplotlib inline

c:\python27\lib\site-packages\matplotlib\cbook.py:137: MatplotlibDeprecationWarning: The matplotlib.mpl module was deprecated in version 1.3. Use `import matplotlib as mpl` instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)

In [2]:
pd.set_option('display.width',200)

In [44]:
# data = pd.read_csv('CHN-USA-2017.csv',header=None)
# data = pd.read_csv('USA-SYR-2017.csv',header=None)
# data = pd.read_csv('PHL-CHN-201704.csv',header=None)
# data = pd.read_csv('CHN-HKZ-20130907_1.0.csv',header=None)
# data = pd.read_csv('CHN-IDN-20131003_1.0.csv',header=None)
# data = pd.read_csv('CHN20150327_1.0.csv',header=None)
data = pd.read_csv('CHN20170518_1.0.csv',header=None)

data.head()

          0          1    2   3    4   5    6   7        8   9   10  11  12                                                 13                   14             15
0  656819620  2017/5/18  CAN NaN  NaN NaN  3.0   5  4.22078   1   2  20  20  https://www.energy-pedia.com/news/china/china-...     energy-pedia.com              -
1  656839546  2017/5/18  CHN NaN  NaN NaN  0.4   8  1.78117   1   1  13  13  http://www.dailymail.co.uk/news/article-451842...      dailymail.co.uk  United States
2  656839545  2017/5/18  CHN NaN  NaN NaN  0.4  28  0.60529   1   1  13  13  http://www.dailymail.co.uk/news/article-451842...      dailymail.co.uk  United States
3  656820600  2017/5/18  JPN NaN  NaN NaN  3.0   5  4.22078   1   2  20  20  https://www.energy-pedia.com/news/china/china-...     energy-pedia.com              -
4  657037114  2017/5/19  NaN NaN  NaN NaN -0.4  10 -1.89329   1   1  12  12  http://www.businessinsider.com/china-extracted...  businessinsider.com  United States

In [45]:
# columns = ['ID','日期','实体1国家','实体1组织','实体2国家','实体2属性','冲突合作指数','报道量','平均情感','事件类型','链接','媒体','媒体国家']
columns = ['ID','日期','实体1国家','实体1组织','实体2国家','实体2属性','冲突合作指数','报道量','平均情感','事件类型','基事件编码','根事件编码','事件编码','链接','媒体','媒体国家']
columns[:2]

['ID', '\xe6\x97\xa5\xe6\x9c\x9f']

In [46]:
# data.rename(columns=dict(zip(np.arange(13), columns)),inplace=True)
data.rename(columns=dict(zip(np.arange(16), columns)),inplace=True)
data

           ID         日期 实体1国家  实体1组织 实体2国家  实体2属性  冲突合作指数  报道量      平均情感  事件类型  基事件编码  根事件编码  事件编码                                                 链接                             媒体           媒体国家
0   656819620  2017/5/18   CAN    NaN   NaN    NaN     3.0    5  4.220780     1      2     20    20  https://www.energy-pedia.com/news/china/china-...               energy-pedia.com              -
1   656839546  2017/5/18   CHN    NaN   NaN    NaN     0.4    8  1.781170     1      1     13    13  http://www.dailymail.co.uk/news/article-451842...                dailymail.co.uk  United States
2   656839545  2017/5/18   CHN    NaN   NaN    NaN     0.4   28  0.605290     1      1     13    13  http://www.dailymail.co.uk/news/article-451842...                dailymail.co.uk  United States
3   656820600  2017/5/18   JPN    NaN   NaN    NaN     3.0    5  4.220780     1      2     20    20  https://www.energy-pedia.com/news/china/china-...               energy-pedia.com              -
4   657037114  2017/5/19   NaN    NaN   NaN    NaN    -0.4   10 -1.893290     1      1     12    12  http://www.businessinsider.com/china-extracted...            businessinsider.com  United States
5   657037105  2017/5/19   NaN    NaN   NaN    NaN     0.0    5 -1.893290     1      1     10    10  http://www.businessinsider.com/china-extracted...            businessinsider.com  United States
6   657037142  2017/5/19   NaN    NaN   NaN    NaN    -4.0    5 -1.893290     3     12    120   120  http://www.businessinsider.com/china-extracted...            businessinsider.com  United States
7   657114938  2017/5/19   CHN    NaN   NaN    NaN     3.4   10 -2.372040     1      5     51    51  http://hosted.ap.org/dynamic/stories/A/AS_CHIN...                  hosted.ap.org  United States
8   657114982  2017/5/19   CHN    NaN   NaN    NaN    -2.0   10 -2.372040     2      9     90    90  http://hosted.ap.org/dynamic/stories/A/AS_CHIN...                  hosted.ap.org  United States
9   657114984  2017/5/19   CHN    NaN   NaN    NaN    -9.2   10 -2.372040     4     17    171  1712  http://hosted.ap.org/dynamic/stories/A/AS_CHIN...                  hosted.ap.org  United States
10  657135161  2017/5/19   NaN    NaN   BRN    NaN     3.4    2 -1.302930     1      5     51    51  http://www.dailyastorian.com/china-japan-extra...              dailyastorian.com  United States
11  657135162  2017/5/19   NaN    NaN   CHN    NaN     3.4    4 -1.250460     1      5     51    51  http://www.dailyastorian.com/china-japan-extra...              dailyastorian.com  United States
12  657135163  2017/5/19   NaN    NaN   CHN    NaN     3.4    1 -1.302930     1      5     51    51  http://www.dailyastorian.com/china-japan-extra...              dailyastorian.com  United States
13  657164855  2017/5/19   NaN    NaN   CHN    NaN     3.0    3 -1.642040     1      2     20    20  http://www.pravdareport.com/business/companies...               pravdareport.com  United States
14  657194540  2017/5/19   NaN    NaN   NaN    NaN     1.9    6  0.522308     1      4     42    42  http://www.krdo.com/news/economy/china-makes-f...                       krdo.com  United States
15  657194547  2017/5/19   NaN    NaN   JPN    NaN     2.8    4  0.522308     1      4     43    43  http://www.krdo.com/news/economy/china-makes-f...                       krdo.com  United States
16  657195130  2017/5/19   NaN    NaN   NaN    NaN     2.8    6  0.522308     1      4     43    43  http://www.krdo.com/news/economy/china-makes-f...                       krdo.com  United States
17  657195467  2017/5/19   JPN    NaN   NaN    NaN     1.9    4  0.522308     1      4     42    42  http://www.krdo.com/news/economy/china-makes-f...                       krdo.com  United States
18  657229616  2017/5/19   NaN    NaN   BRN    NaN     3.4    2 -1.191900     1      5     51    51  http://www.pennenergy.com/articles/pennenergy/...                 pennenergy.com  United States
19  657233708  2017/5/19   CHN    NaN   NaN    NaN     0.0    2  0.179211     1      1     10    10  http://www.redstate.com/diary/Joliphant/2017/0...                   redstate.com  United States
20  657233721  2017/5/19   CHN    NaN   CHN    NaN     0.0    5  0.179211     1      1     10    10  http://www.redstate.com/diary/Joliphant/2017/0...                   redstate.com  United States
21  657234876  2017/5/19   NaN    NaN   BRN    NaN     3.4    2 -1.256540     1      5     51    51  http://thegardenisland.com/business/national-a...            thegardenisland.com  United States
22  657234877  2017/5/19   NaN    NaN   CHN    NaN     3.4    1 -1.256540     1      5     51    51  http://thegardenisland.com/business/national-a...            thegardenisland.com  United States
23  657298816  2017/5/19   CHN    NaN   CHN    NaN     2.8   10  1.741290     1      4     43    43  http://agreenliving.org/china-claims-major-ene...               agreenliving.org  United States
24  657298839  2017/5/19   CHN    NaN   CHN    NaN     1.9   10  1.741290     1      4     42    42  http://agreenliving.org/china-claims-major-ene...               agreenliving.org  United States
25  657300134  2017/5/19   SGP    NaN   CHN    NaN     0.4    3  1.741290     1      1     13    13  http://agreenliving.org/china-claims-major-ene...               agreenliving.org  United States
26  657300135  2017/5/19   SGP    NaN   JPN    NaN     0.4    2  1.741290     1      1     13    13  http://agreenliving.org/china-claims-major-ene...               agreenliving.org  United States
27  657309992  2017/5/19   CHN    NaN   NaN    NaN    -2.0   10  0.625000     3     11    110   110  http://maritime-executive.com/article/china-ex...         maritime-executive.com  United States
28  657336360  2017/5/20   CHN    NaN   NaN    NaN    -2.0   10  0.625000     3     11    110   110  http://www.maritime-executive.com/article/chin...         maritime-executive.com  United States
29  657387856  2017/5/20   CHN    NaN   CHN    NaN     0.0    2  0.418994     1      1     10    10  http://www.clickittefaq.com/china-claims-break...               clickittefaq.com     Bangladesh
30  657387862  2017/5/20   CHN    NaN   NaN    NaN     0.0    6  0.418994     1      1     10    10  http://www.clickittefaq.com/china-claims-break...               clickittefaq.com     Bangladesh
31  657388537  2017/5/20   SGP    NaN   NaN    NaN     0.0    2  0.418994     1      1     10    10  http://www.clickittefaq.com/china-claims-break...               clickittefaq.com     Bangladesh
32  657388538  2017/5/20   SGP    NaN   NaN    NaN     0.0    8  0.418994     1      1     10    10  http://www.clickittefaq.com/china-claims-break...               clickittefaq.com     Bangladesh
33  657449439  2017/5/20   JPN    NaN   NaN    NaN     0.0    1  0.597372     1      1     10    10  http://roilogolez.blogspot.com/2017/05/vast-de...        roilogolez.blogspot.com              -
34  657449444  2017/5/20   JPN    NaN   KOR    NaN     0.0    2  0.597372     1      1     10    10  http://roilogolez.blogspot.com/2017/05/vast-de...        roilogolez.blogspot.com              -
35  657449445  2017/5/18   CHN    NaN   NaN    NaN     0.0    4  0.625000     1      1     10    10  http://www.shanghaidaily.com/nation/China-succ...    China_shanghai_national.com          China
36  657449446  2017/5/18   CHN    NaN   NaN    NaN     0.0    5  0.505200     1      1     10    10  https://article.wn.com/view/2017/05/18/China_B...       UnitedStates_wn_asia.COM  United States
37  657449447  2017/5/19   CHN    NaN   NaN    NaN     0.0    7  0.956000     1      1     10    10  https://article.wn.com/view/2017/05/19/China_s...       UnitedStates_wn_asia.com  United States
38  657449448  2017/5/19   CHN    NaN   NaN    NaN     0.0    1  1.259000     1      1     10    10  http://www.sunstar.com.ph/network/news-bits/20...  Pilipinas_sunstar_network.com    Philippines
39  657449449  2017/5/19   CHN    NaN   NaN    NaN     0.6   10  1.783200     1      1     10    10  http://www.sunstar.com.ph/network/news/2017/05...  Pilipinas_sunstar_network.com    Philippines
40  657449480  2017/5/19   CHN    NaN   NaN    NaN     1.2    5  0.890000     1      1     10    10  http://www.bangkokpost.com/news/general/125265...   Thailand_bangkokpost_top.com       Thailand

In [47]:
pic1_data = data['链接'].groupby([data['日期'],data['链接']]).count().reset_index(inplace=0)
pic1_data = pic1_data['链接'].groupby(pic1_data['日期']).count()
pic1_data

日期
2017/5/18     4
2017/5/19    14
2017/5/20     3
dtype: int64

In [48]:
x = pic1_data.index
x

Index([u'2017/5/18', u'2017/5/19', u'2017/5/20'], dtype='object', name=u'日期')

In [49]:
y = pic1_data.values
y

array([ 4, 14,  3], dtype=int64)

In [50]:
x_num = np.arange(len(x))
# name_head = u'与哈萨克斯坦共建丝绸之路'
# name_head = u'与印度尼西亚共建丝绸之路'
# name_head = u'关于建设丝绸之路共同声明'
# name_head = u'一带一路国际合作高峰论坛'
name_head = u'中国、日本成功开采可燃冰'
x_num

array([0, 1, 2])

In [66]:
# mpl.rcParams['font.sans-serif'] = [u'SimHei']
# mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'日期',fontsize=16)
plt.ylabel(u'报道量',fontsize=16)
# plt.title(u'庄园会晤总体报道趋势',fontsize=20)
# plt.title(u'美军空袭叙利亚事件总体报道趋势',fontsize=20)
# plt.title(u'杜特尔特南海言论事件总体报道趋势',fontsize=20)
plt.title(u'{}总体报道趋势'.format(name_head),fontsize=20)
# plt.ylim(0,y.max()+500)
ax = plt.axes()
# ax.yaxis.set_major_locator(ticker.MultipleLocator(50))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(10))
# ax.yaxis.set_major_locator(ticker.MultipleLocator(100))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(20))
ax.yaxis.set_major_locator(ticker.MultipleLocator(10))
ax.yaxis.set_minor_locator(ticker.MultipleLocator(2))
# ax.yaxis.set_major_locator(ticker.MultipleLocator(25))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(5))
plt.xlim(-0.4,len(x_num)-0.6)
# plt.ylim(50,210)
plt.grid(True,which='both')
plt.plot(x_num, y, 'r-', x_num, y, 'go', linewidth=2, markersize=8)
plt.xticks(x_num,x)
plt.xticks(x_num,x,rotation=30.)
plt.show()

In [57]:
pic2_data = data['链接'].groupby([data['媒体'],data['链接']]).count().reset_index(inplace=0)
pic2_data = pic2_data['链接'].groupby([pic2_data['媒体']]).count()                              
# pic2_data = pic2_data[pic2_data>5]
# pic2_data = pic2_data[pic2_data>40]

In [58]:
x2 = pic2_data.index

In [59]:
y2 = pic2_data.values
y2[:5]

array([1, 2, 1, 1, 1], dtype=int64)

In [60]:
x2_num = np.arange(len(x2))

In [67]:
mpl.rcParams['font.sans-serif'] = [u'Song']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'媒体',fontsize=16)
plt.ylabel(u'报道量',fontsize=16)
# plt.title(u'庄园会晤活跃媒体关注度对比图(报道量>5)',fontsize=20)
# plt.title(u'美军空袭叙利亚事件活跃媒体关注度对比图(报道量>5)',fontsize=20)
# plt.title(u'杜特尔特南海言论事件活跃媒体关注度对比图(报道量>2)',fontsize=20)
# plt.title(u'{}活跃媒体关注度对比图(报道量>40)'.format(name_head),fontsize=20)
plt.title(u'{}活跃媒体关注度对比图'.format(name_head),fontsize=20)
# plt.ylim(0,y.max()+500)
ax = plt.axes()
# ax.yaxis.set_major_locator(ticker.MultipleLocator(25))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(5))
ax.yaxis.set_major_locator(ticker.MultipleLocator(5))
ax.yaxis.set_minor_locator(ticker.MultipleLocator(1))
plt.xlim(-0.5,len(x2_num))
plt.grid(True,which='both')
plt.bar(x2_num, y2, color='.8',width=0.5, hatch='x')
# plt.xticks(x_num,x)
plt.xticks(x2_num+0.25,x2,rotation=30, ha='right')
plt.show()

In [68]:
data_country = data[~data['媒体国家'].isin([' ','-'])]
data_country.head()

          ID         日期 实体1国家  实体1组织 实体2国家  实体2属性  冲突合作指数  报道量     平均情感  事件类型  基事件编码  根事件编码  事件编码                                                 链接                   媒体           媒体国家
1  656839546  2017/5/18   CHN    NaN   NaN    NaN     0.4    8  1.78117     1      1     13    13  http://www.dailymail.co.uk/news/article-451842...      dailymail.co.uk  United States
2  656839545  2017/5/18   CHN    NaN   NaN    NaN     0.4   28  0.60529     1      1     13    13  http://www.dailymail.co.uk/news/article-451842...      dailymail.co.uk  United States
4  657037114  2017/5/19   NaN    NaN   NaN    NaN    -0.4   10 -1.89329     1      1     12    12  http://www.businessinsider.com/china-extracted...  businessinsider.com  United States
5  657037105  2017/5/19   NaN    NaN   NaN    NaN     0.0    5 -1.89329     1      1     10    10  http://www.businessinsider.com/china-extracted...  businessinsider.com  United States
6  657037142  2017/5/19   NaN    NaN   NaN    NaN    -4.0    5 -1.89329     3     12    120   120  http://www.businessinsider.com/china-extracted...  businessinsider.com  United States

In [69]:
pic3_data = data_country['链接'].groupby([data_country['媒体国家'],data_country['链接']]).count().reset_index(inplace=0)
pic3_data = pic3_data['链接'].groupby([pic3_data['媒体国家']]).count()
# pic3_data = pic3_data[pic3_data>5]
# pic3_data = pic3_data[pic3_data>50]

In [70]:
x3 = pic3_data.index
y3 = pic3_data.values
x3_num = np.arange(len(x3))

In [73]:
mpl.rcParams['font.sans-serif'] = [u'Song']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'国家',fontsize=16)
plt.ylabel(u'报道量',fontsize=16)
# plt.title(u'庄园会晤国家关注度对比图(报道量>5)',fontsize=20)
# plt.title(u'美军空袭叙利亚事件国家关注度对比图(报道量>5)',fontsize=20)
# plt.title(u'杜特尔特南海言论事件国家关注度对比图(报道量>1)',fontsize=20)
# plt.title(u'{}国家关注度对比图(报道量>50)'.format(name_head),fontsize=20)
plt.title(u'{}国家关注度对比图'.format(name_head),fontsize=20)
# plt.ylim(0,y.max()+500)
ax = plt.axes()
# ax.yaxis.set_major_locator(ticker.MultipleLocator(200))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(40))
# ax.yaxis.set_major_locator(ticker.MultipleLocator(50))
# ax.yaxis.set_minor_locator(ticker.MultipleLocator(10))
ax.yaxis.set_major_locator(ticker.MultipleLocator(5))
ax.yaxis.set_minor_locator(ticker.MultipleLocator(1))
plt.xlim(-0.5,len(x3_num))
plt.grid(True,which='both',axis='y')
plt.bar(x3_num, y3, color='.8',width=0.5, hatch='/')
# plt.xticks(x3_num+0.25,x3)
plt.xticks(x3_num+0.25,x3,rotation=30,ha='right')
plt.show()

In [74]:
country_media = pd.read_csv('media_country.csv',header=None)
country_media.head()

                         0              1
0                  007.com  United States
1            042mp3.com.ng        Nigeria
2         06880danwoog.com  United States
3           10000birds.com  United States
4  1000islands-clayton.com  United States

In [75]:
country_media_columns=['媒体','国家']
country_media.rename(columns=dict(zip(np.arange(2),country_media_columns)),inplace=True)
country_media.head()

                        媒体             国家
0                  007.com  United States
1            042mp3.com.ng        Nigeria
2         06880danwoog.com  United States
3           10000birds.com  United States
4  1000islands-clayton.com  United States

In [76]:
country_media = country_media[~country_media['国家'].isin([' ','-'])]
country_media_count = country_media['媒体'].groupby(country_media['国家']).count()
country_media_count.head()

国家
Afghanistan    16
Albania        15
Algeria         7
Andorra         1
Angola         13
dtype: int64

In [77]:
country_media_count.name = '媒体总数'

In [78]:
country_media_count.ix[x3]

媒体国家
Bangladesh          50
China              212
Philippines        193
Thailand            54
United States    20619
Name: 媒体总数, dtype: int64

In [79]:
country_media_count = country_media_count.reset_index(inplace=0)
country_media_count.head()

            国家  媒体总数
0  Afghanistan    16
1      Albania    15
2      Algeria     7
3      Andorra     1
4       Angola    13

In [80]:
country_media_count['媒体占比'] = country_media_count['媒体总数']/country_media_count['媒体总数'].sum()

In [81]:
country_media_count['媒体总数'].sum()

31380

In [82]:
country_media_count.head()

            国家  媒体总数      媒体占比
0  Afghanistan    16  0.000510
1      Albania    15  0.000478
2      Algeria     7  0.000223
3      Andorra     1  0.000032
4       Angola    13  0.000414

In [83]:
media_compare = country_media_count[['媒体总数','媒体占比']].groupby(country_media_count['国家']).sum().ix[x3]
media_compare = media_compare.reset_index(inplace=0)
media_compare

            媒体国家   媒体总数      媒体占比
0     Bangladesh     50  0.001593
1          China    212  0.006756
2    Philippines    193  0.006150
3       Thailand     54  0.001721
4  United States  20619  0.657075

In [84]:
country_meidia_report = data_country['媒体'].groupby([data_country['媒体国家'],data_country['媒体']]).count().ix[x3]
#媒体报道量统计
country_meidia_report = country_meidia_report.reset_index(inplace=0)
# country_meidia_report
#国家报道媒体数量
country_meidia_report = country_meidia_report['媒体'].groupby(country_meidia_report['媒体国家']).count()
country_meidia_report

媒体国家
Bangladesh        1
China             1
Philippines       1
Thailand          1
United States    13
dtype: int64

In [85]:
media_report_count = len(np.unique(data_country['媒体']))
country_meidia_report_persent = country_meidia_report/media_report_count
country_meidia_report_persent

媒体国家
Bangladesh       0.058824
China            0.058824
Philippines      0.058824
Thailand         0.058824
United States    0.764706
dtype: float64

In [86]:
media_compare['报道媒体数量'] = country_meidia_report.values
media_compare['报道媒体占比'] = country_meidia_report_persent.values
media_compare

            媒体国家   媒体总数      媒体占比  报道媒体数量    报道媒体占比
0     Bangladesh     50  0.001593       1  0.058824
1          China    212  0.006756       1  0.058824
2    Philippines    193  0.006150       1  0.058824
3       Thailand     54  0.001721       1  0.058824
4  United States  20619  0.657075      13  0.764706

In [87]:
avg_report = y3/media_compare['媒体总数']
avg_report

0    0.020000
1    0.004717
2    0.010363
3    0.018519
4    0.000679
Name: 媒体总数, dtype: float64

In [88]:
media_compare['报道总量'] = y3
media_compare['平均报道量'] = avg_report
media_compare.to_csv(u'{}媒体归一化统计表'.format(name_head))
media_compare

            媒体国家   媒体总数      媒体占比  报道媒体数量    报道媒体占比  报道总量     平均报道量
0     Bangladesh     50  0.001593       1  0.058824     1  0.020000
1          China    212  0.006756       1  0.058824     1  0.004717
2    Philippines    193  0.006150       1  0.058824     2  0.010363
3       Thailand     54  0.001721       1  0.058824     1  0.018519
4  United States  20619  0.657075      13  0.764706    14  0.000679

In [89]:
media_compare_pic1 = media_compare[['媒体占比','报道媒体占比']].groupby(media_compare['媒体国家']).sum()
y4_1 = media_compare_pic1['媒体占比']
y4_2 = media_compare_pic1['报道媒体占比']
media_compare_pic1

                   媒体占比    报道媒体占比
媒体国家
Bangladesh     0.001593  0.058824
China          0.006756  0.058824
Philippines    0.006150  0.058824
Thailand       0.001721  0.058824
United States  0.657075  0.764706

In [90]:
normed_media_compare_pic2 = media_compare_pic1.div(media_compare_pic1.sum(1), axis=0)
y5_1 = normed_media_compare_pic2['媒体占比']
y5_2 = normed_media_compare_pic2['报道媒体占比']
normed_media_compare_pic2

                   媒体占比    报道媒体占比
媒体国家
Bangladesh     0.026373  0.973627
China          0.103019  0.896981
Philippines    0.094660  0.905340
Thailand       0.028423  0.971577
United States  0.462149  0.537851

In [45]:
mpl.rcParams['font.sans-serif'] = [u'KaiTi']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'媒体国家',fontsize=16)
plt.ylabel(u'媒体占比',fontsize=16)
plt.title(u'媒体占比对比',fontsize=20)
plt.xlim(-0.5,len(x3_num))
plt.grid(True,which='both',axis='y')
# patches = [mpatches.Patch(color=)]
# plt.legend(handles=patches, fancybox=True, framealpha=0.8, loc='upper left')
plt.bar(x3_num, y4_1, color='#FF8080',width=0.5,label=u'总媒体占比')
plt.bar(x3_num, y4_2, color='#A0A0FF',width=0.5, bottom=y4_1,label=u'报道媒体占比')
plt.legend(loc='upper left')
plt.xticks(x3_num+0.25,x3)
plt.show()

In [91]:
mpl.rcParams['font.sans-serif'] = [u'SimHei']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'归一化比例',fontsize=16)
plt.ylabel(u'媒体国家',fontsize=16)
plt.title(u'热门国家媒体活跃度归一化对比图',fontsize=20)
plt.ylim(-0.5,len(x3_num))
ax = plt.axes()
ax.xaxis.set_major_locator(ticker.MultipleLocator(0.2))
ax.xaxis.set_minor_locator(ticker.MultipleLocator(0.1))
plt.grid(True,which='both',axis='x')
# patches = [mpatches.Patch(color=)]
# plt.legend(handles=patches, fancybox=True, framealpha=0.8, loc='upper left')
plt.barh(x3_num, y5_1, color='#FF8080',height=0.5,label=u'总媒体归一化占比')
plt.barh(x3_num, y5_2, color='#A0A0FF',height=0.5, left=y5_1,label=u'报道媒体归一化占比')
plt.legend(loc='lower right',framealpha=0.5)
plt.yticks(x3_num,x3,rotation=60,ha='right')
# plt.yticks(x3_num+0.25,x3)
plt.show()

In [92]:
mpl.rcParams['font.sans-serif'] = [u'SimHei']
mpl.rcParams['axes.unicode_minus'] = False
plt.xlabel(u'媒体占比',fontsize=16)
plt.ylabel(u'媒体国家',fontsize=16)
plt.title(u'媒体占比对比',fontsize=20)
plt.ylim(-0.5,len(x3_num))
plt.grid(True,which='both',axis='x')
# patches = [mpatches.Patch(color=)]
# plt.legend(handles=patches, fancybox=True, framealpha=0.8, loc='upper left')
plt.barh(x3_num, y4_1*(-1), color='#FF8080',height=0.5,label=u'总媒体占比')
plt.barh(x3_num, y4_2, color='#A0A0FF',height=0.5,label=u'报道媒体占比')
plt.legend(loc='lower right')
plt.yticks(x3_num,x3,rotation=60)
plt.show()

In [279]:
x6 = media_compare['平均报道量']
y6_1 = media_compare['媒体国家'].values.tolist()
y6 = []
for i in range(len(y6_1)):
    if x6[i] > 0.01:
        y6.append(y6_1[i])
    else:
        y6.append('')
y6

['', 'China', '', '', '', 'Malaysia', 'Philippines', 'Saudi Arabia', '', '']

In [280]:
mpl.rcParams['font.sans-serif'] = [u'Song']
mpl.rcParams['axes.unicode_minus'] = False
plt.figure(figsize=(9,3))
plt.title(u'美军空袭叙利亚事件活跃国家平均报道指数对比(报到率>0.01)',fontsize=20)
labels = y6
color = ['blue', '#AEEEEE', 'red', 'green','#FFF8DC', '#FFE4E1',  '#FF6A6A', '#EE799F', '#8B8386', '#7A67EE']
patches,l_text = plt.pie(x6,labels=y6,colors= color,labeldistance = 1.1,shadow =False,
                                startangle = 0,pctdistance = 0.6)
for t in l_text:
    t.set_size=(8)
# 设置x，y轴刻度一致，这样饼图才能是圆的
plt.axis('equal')
plt.legend()
plt.show()